@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-dark font-sans overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-wider;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-secondary-dark to-secondary;
  }
  
  /* Decorative blobs based on design */
  .bg-blob-primary {
    @apply bg-[#f5cd61];
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  
  .bg-blob-secondary {
    @apply bg-[#76c8bb];
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  }

  .bg-blob-accent-pink {
    @apply bg-[#f5a2a2];
    border-radius: 50% 50% 30% 70% / 50% 60% 40% 50%;
  }
  
  .bg-blob-accent-purple {
    @apply bg-[#9b8fc9];
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
}
